<div class="wrapper">
  <form class="filters" [formGroup]="form">
    <app-questions-filter-control formControlName="status" label="Статус" [list]="statusesList"></app-questions-filter-control>
    <app-questions-filter-control formControlName="complexity" label="Сложность" [list]="complexityList"></app-questions-filter-control>
    <app-questions-filter-control formControlName="section" label="Секция" [list]="sectionsList"></app-questions-filter-control>
  </form>
  <div class="container">
    <div *ngFor="let item of filteredList" class="item">
      <app-card [item]="item"></app-card>
    </div>
  </div>
</div>
